## Relation of Cases and Legal acts

In [1]:
import pandas as pd

In [2]:
cases_laws = pd.read_csv('../datasets/cjeu_cited_laws.csv')

In [11]:
# Cases that cite the most laws
cases_laws\
    .groupby('case_id')\
    .count()['law_id']\
    .sort_values(ascending=False)\
    .reset_index()\
    .head(10)

       case_id  law_id
0  62010CJ0311     164
1  62015CJ0643     132
2  62014CJ0547     101
3  62000CJ0011      99
4  62015CJ0072      95
5  62006CJ0411      90
6  62001CJ0153      87
7  62015CJ0360      86
8  62016CJ0187      82
9  62013CJ0659      82

Top case: https://eur-lex.europa.eu/legal-content/EN/ALL/?uri=CELEX:62010CJ0311&qid=1594558909597

In [12]:
# Laws that are most cited by cases
cases_laws\
    .groupby('law_id')\
    .count()['case_id']\
    .sort_values(ascending=False)\
    .reset_index()\
    .head(10)

           law_id  case_id
0      31977L0388     3344
1      31971R1408     3052
2      32006L0112     2625
3  31991Q0704(02)     1561
4      31992R2913     1531
5      31987R2658     1326
6      32001R0044     1283
7  32012Q0929(01)     1256
8      32004L0018     1061
9   12008E/PRO/03     1014

Top law: https://eur-lex.europa.eu/legal-content/EN/TXT/?qid=1594558951860&uri=CELEX:31977L0388

        Sixth Council Directive 77/388/EEC of 17 May 1977 on the harmonization of the laws of the Member States relating to turnover taxes - Common system of value added tax: uniform basis of assessment. No longer in force, Date of end of validity: 31/12/2006; Repealed by 32006L0112 .